
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    
    margin: 0;
    padding: 0;

    /* background-image: url('https://source.unsplash.com/random/1600x900/?cybersecurity,computer,dark'); */
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    /* background-color: black; */
}

h1{
    font-weight: normal;
    margin-bottom: 10px;
color: aliceblue;
}
h2{
    color: white;
}
p {
    margin-bottom: 20px;
    color: #fff;
    font-size: larger;
    text-align:center;
}
a {
    display: inline-block;
    background-color: #060405;
    color: #fff;
    padding: 3px 20px;
    text-decoration: none;
    transition: background-color 0.3s;
    margin-right: 10px;
    border-radius: 5px;   
}

a:hover {
   color:gray;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
}

.container {
border-radius: 5%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
}

.header {
    font-size: larger;
    background-color:black;
    /* color: #fff; */
    padding: 20px;
    text-align: center;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
}

/* .highlight {
    color: #ff0000;
} */

.card {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 1%;
    margin-bottom: 20px;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card-header {
    background-color: rgba(255, 255, 255, 0.164);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.card-body {
    color: #dddddd00;
}

nav {
    background-color: #ff0080;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

nav a:hover {
    background-color: #ff0066;
    padding: 5px 10px;
    border-radius: 5px;
}
